@charset "utf-8";
/* CSS Document */

body{
    margin: 0px;
    padding: 0px;
    background-color: #edf1fd;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#main{
        width:100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #edf1fd;
        position: relative;
        background-image: url("/Imaes/צילום\ מסך\ 2020-09-30\ ב-23.42.33.png");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position:right;
}


nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.lang{
    color: #292929;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}

.toggle{
    display: none;
}

.active a,
.menu li a:hover{
	background-color:#292929;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}
.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}

.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 16px;
}

.name h1{
    font-family: Popins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}

.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5a;
}

.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}

.social a{
    margin: 6px 12px;
}

.social i{
    color: rgba(18,17.17.0.4);
    font-size: 14px;
}

.social a:hover i{

    color: #17d1ac;
    transition: all ease 0.5s;
}

.arrow{
    align-self: end;
    width: 0%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41,41,41,0.3);
}

.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}

#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}

.about-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
}

.about-text h1{
    font-size: 5rem;
    color: #17d1ac;
}

.about-text h2{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 400;
}
